{% extends "base.html" %}

{% block header %}
{{ header_text }}
{% endblock header %}

{% block content %}


    <form action="" method="post">
    {% csrf_token %}

        <label>
        <b>Nazwa sali:</b><br>
            <input type="text" name="name" value="{{room.name}}">
        </label><br>
        <label>
        <b>Piętro:</b><br>
            <input type="number" name="floor" min="0" step="1" value="{{room.floor}}">
        </label><br>
        <label>
        <b>Liczba miejsc:</b><br>
            <input type="number" name="seats" min="10" step="1" value="{{room.seats}}">
        </label><br>
        <label>
        <b>Rzutnik:</b>
            <input type="checkbox" name="projector" value="True" 
            {% if room.projector %}
                checked 
            {% endif %}>
        </label><br>
        <label>
        <b>Biurka:</b>
            <input type="checkbox" name="desks" value="True"
            {% if room.desks %}
                checked
            {% endif %}>
        </label><br>
        <input type="hidden" value="{{ room.id }}">
        <input type="submit" value="{{ submit_text }}" style="width: 120px; height: 30px; font-size: 14px;">

    </form>

{% endblock content %}