{% extends "base.html" %}

{% block header %}
LISTA SAL
{% endblock header %}

{% block content %}

    <table>
        <caption>Lista sal konferencyjnych</caption>
        <tr>
            <th>ID</th>
            <th>Nazwa sali</th>
            <th>Dostępność dzisiaj</th>            
        </tr>
        
        {% for room in rooms %}            
        <tr>
            <td>{{ room.id }}</td>
            <td>
                <a href="{% url 'room-details' room.id %}">{{ room.name }}</a><br>
                <a href="{% url 'modify-room' room.id %}">Edytuj salę</a><br>
                <a href="{% url 'delete-room' room.id %}">Usuń</a>
            </td>
            <td>{{room.dost}}</td>
        </tr>    
        {% endfor %}
    </table>
    <br>
<form method="get">
    <button type="submit" formaction="{% url 'new-room' %}">Dodaj salę</button>
</form>
{% endblock content %}