{% extends "base.html" %}

{% block header %}
Lista sal
{% endblock header %}

{% block content %}

    <table>
        <tr>
            <th>Nr</th>
            <th>Nazwa sali</th>
            <th>Dostępność dzisiaj</th>            
        </tr>
        
        {% for room in rooms %}            
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'room-details' room.id %}">{{ room.name }}</a><br>
                <a href="{% url 'modify-room' room.id %}">Edytuj salę</a><br>
                <a href="{% url 'delete-room' room.id %}">Usuń</a>
            </td>
            <td>{{room.dost}}</td>
        </tr>    
        {% endfor %}
    </table>
     <br>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="{% url 'new-room' %}" style="width: 120px; height: 30px; font-size: 14px;">Dodaj nową salę</button>
    </form>


    
{% endblock content %}