{% include "base.html" %}

{% block body %}

    <table>
        <caption>Lista sal konferencyjnych</caption>
        <tr>
            <th>ID</th>
            <th>Nazwa sali</th>
            <th>Liczba miejsc</th>
            <th>Piętro</th>
            <th>Rzutnik</th>
            <th>Biurka</th>            
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.name }}</td>
            <td>{{ room.seats }}</td>
            <td>{{ room.floor }}</td>
            {% if room.projector %}
            <td>TAK</td>
            {% else %}
            <td>NIE</td>
            {% endif %}
            {% if room.desks %}
            <td>TAK</td>
            {% else %}
            <td>NIE</td>
            {% endif %}
        </tr>    
        {% endfor %}
    </table>

{% endblock body %}